/* Eric Meyer's CSS Reset, remove browser default styling*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* html */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: "Open Sans", Helvetica, sans-serif;
  position: relative;
  padding-top: 73px;
}

.inner {
  max-width: 1080px;
  width: calc(100% - 50px);
  margin: 0 auto;
  position: relative;
}

.sechead {
  text-align: center;
  color: rgba(182, 199, 227, 0.2);
  margin-bottom: 50px;
}

.sechead h1 {
  font-weight: 300;
  font-size: 50px;
  color: #333333;
}
/* Header Styling */
#header {
  background: #000000;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: right;
  position: fixed;
  top: 0;
  z-index: 999999;
  border-bottom: 3px solid orange;
}

#header a {
  display: inline-block;
  padding: 0 20px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}

#header a:last-child {
  padding-right: 0;
}

#header .logo {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  color: whitesmoke;
  left: 0;
  padding-left: 0;
  position: absolute;
}

#header a:hover {
  color: orange;
  font-weight: 700;
}

#header .logo:hover {
  color: orange;
}
/* motivation  */
#motivation {
  background-color: #ffffff;
  padding: 50px 0 20px 0;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
  animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
  text-align: center;
}

.slide img {
  width: 150px;
  height: 150px;
  margin: 30px;
}

.slide blockquote {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
}

.slide h3 {
  font-weight: 300;
  font-size: 30px;
  color: orange;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -728px;
  }
  50% {
    margin-left: -728px;
  }
  60% {
    margin-left: -1456px;
  }
  70% {
    margin-left: -1456px;
  }
  80% {
    margin-left: -2184px;
  }
  90% {
    margin-left: -2184px;
  }
}
.slide img {
  border-radius: 30%;
}
/* Footer Styling */

#copyright {
  height: 60px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  text-align: center;
  line-height: 60px;
  background-color: whitesmoke;
  border-top: 3px solid rgba(1, 34, 34, 0.8);
  clear: both;
}
#copyright {
  background-color: black;
}
#copyright p {
  color: orange;
}
/* Home Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 4em;
  font-weight: 900;
  line-height: 0.9em;
}
p {
  margin: 0;
  color: black;
}
figure {
  margin: 0;
}
::-moz-selection {
  color: #ffffff;
  background-color: #d0f2ee;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background-color: #d0f2ee;
  text-shadow: none;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100%;
  line-height: 1.6;
  color: black;
  background-color: #ffffff;
}
@media (min-width: 20em) {
  body {
    font-size: 102.5%;
  }
}
@media (min-width: 30em) {
  body {
    font-size: 105%;
  }
}
@media (min-width: 54em) {
  body {
    font-size: 107.5%;
  }
}
@media (min-width: 64em) {
  body {
    font-size: 110%;
  }
}
@media (min-width: 76.5em) {
  body {
    font-size: 115%;
  }
}
@media (min-width: 114em) {
  body {
    font-size: 125%;
  }
}
.post {
  min-height: 100vh;
  width: 100%;
  border: 0.5 solid #ffffff;
}
@media (min-width: 54em) {
  .post {
    display: flex;
    height: 100vh;
    min-height: 40em;
  }
}
.post > *:first-child {
  position: relative;
  height: 14em;
  background-color: black;
}
@media (min-width: 30em) {
  .post > *:first-child {
    height: 18em;
  }
}
@media (min-width: 54em) {
  .post > *:first-child {
    flex-basis: 50%;
    max-width: 50%;
    height: auto;
  }
}
@media (min-width: 76.5em) {
  .post > *:first-child {
    flex-basis: 60%;
    max-width: 60%;
  }
}
@media (min-width: 54em) {
  .post > *:last-child {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 76.5em) {
  .post > *:last-child {
    flex-basis: 40%;
    max-width: 40%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}
.post_time {
  position: relative;
  font-weight: 600;
  font: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}
.post_content {
  padding: 2em 0;
}
@media (min-width: 54em) {
  .post_content {
    padding: 0 4em;
  }
}

.post_text {
  text-align: justify;
  font-weight: 300;
  -webkit-animation: fade-in 0.8s ease-in-out both 0.5s;
  animation: fade-in 0.8s ease-in-out both 0.5s;
}
.post_link {
  text-align: right;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  -webkit-animation: fade-in 0.8s ease-in-out both 1s;
  animation: fade-in 0.8s ease-in-out both 1s;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about Area Styling*/
#about {
  background-color: rgba(182, 199, 227, 0.8);
  text-align: left;
  padding: 50px 0 50px 0;
}

#about .sechead h1 {
  color: blue;
}

#about .sechead p {
  color: #333333;
}

#about img {
  width: calc(100% - 20px);
  padding: 10px;
}

.covercol a {
  text-align: center;
  line-height: 230px;
  font-size: 50px;
  font-weight: 700;
  text-shadow: rgb(1, 0, 0, 0.5);
  color: grey;
  text-decoration: none;
}

.covercol {
  float: left;
  width: calc(33.33% - 30px);
  height: 230px;
  background-color: #ffffff;
  margin: 15px;
}

#about .inner:after {
  content: "";
  display: table;
  clear: both;
}

/* Background per kota */
#sd {
  background: url(./assets/images/sd.jpeg);
  background-size: cover;
}

#smp {
  background: url(./images/jakarta.jpg);
  background-size: cover;
}

#sma {
  background: url(./images/medan.jpg);
  background-size: cover;
}
#kampus {
  background: url(./images/medan.jpg);
  background-size: cover;
}
#kosong {
  background: url(./images/medan.jpg);
  background-size: cover;
}
#kosong1 {
  background: url(./images/medan.jpg);
  background-size: cover;
}
